<launch>
    <!-- Main Node -->
    <node pkg="lidar_scan_match_c" type="lidar_scan_match_c_node" name="lidar_scan_match_c_node" output="screen">
        <!-- Load parameters into private namespace -->
        <rosparam file="$(find lidar_scan_match_c)/config/params_0605a.yaml" command="load" />
    </node>

    <!-- RViz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar_scan_match_c)/config/rviz.rviz">
    </node>
</launch>
